# Ignore Files such as php.ini or .user.ini
*.ini

# Ignore Files that contain sensible Information such as Passwords or secret Keys
*.inc.php

# Ignore PHPStorm Files
/.idea

# Ignore Composer Vendor Folder
vendor/
