@tailwind base;

/*
 *  Import font by a link:
 *
 *  @font-face {
 *      font-family: "Font";
 *      src: url(https://url.com/font.woff2);
 *  }
 *
 *  The font can then be used in CSS under the name "Font".
 */

@layer base {
    h1 {
        font-size: 1.9em;
        font-weight: 800;
    }

    h2 {
        font-size: 1.6em;
        font-weight: 800;
    }

    h3 {
        font-size: 1.3em;
        font-weight: 800;
    }

    h1, h2, h3 {
        line-height: 1.2;
        letter-spacing: -0.015em;
    }

    h4, h5, h6 {
        font-weight: 800;
    }
}

@tailwind components;
@tailwind utilities;
