{
    "PROJECT_SETTINGS": {
        "PROJECT_NAME": "Project",
        "WEBSITE_TITLE": "Project",
        "PROJECT_URL": "http://localhost:3000",
        "PROJECT_FAVICON": "/static/img/favicon.png",
        "PROJECT_AUTHOR": "Author",
        "PROJECT_VERSION": "1.0.0",
        "TIMEZONE": "Europe/Berlin"
    },
    "ROUTER_SETTINGS": {
        "ROUTER_BASE_URI": "/"
    },
    "LOG_SETTINGS": {
        "LOG_FILENAME": "log-%date%.log",
        "LOG_LEVEL": 6,
        "LOG_ERROR_REPORT": []
    },
    "DATABASE_SETTINGS": {
        "DB_HOST": "database",
        "DB_USER": "framework-app",
        "DB_PASS": "framework-app",
        "DB_NAME": "framework-app",
        "DB_USE": true
    },
    "MAIL_SETTINGS": {
        "MAIL_SMTP_HOST": "smtp.localhost",
        "MAIL_SMTP_PORT": 25,
        "MAIL_SMTP_USER": "username",
        "MAIL_SMTP_PASS": "password",
        "MAIL_SMTP_SECURE": "tls",
        "MAIL_SMTP_AUTH": true,
        "MAIL_DEFAULT_SENDER_EMAIL": "mail@framework",
        "MAIL_DEFAULT_SENDER_NAME": "Framework",
        "MAIL_DEFAULT_REPLY_TO": "mail@framework",
        "MAIL_DEFAULT_SUBJECT": "Framework",
        "MAIL_REDIRECT_ALL_MAILS": false,
        "MAIL_REDIRECT_ALL_MAILS_TO": "mail@framework"
    },
    "SEO_SETTINGS": {
        "SEO_DEFAULT_DESCRIPTION": "Description",
        "SEO_KEYWORDS": [],
        "SEO_IMAGE_PREVIEW": "/static/img/seo/preview.png",
        "SEO_OPENGRAPH": {
            "OPENGRAPH_SITE_NAME": null
        },
        "SEO_TWITTER": {
            "TWITTER_SITE": null,
            "TWITTER_CREATOR": null
        },
        "SEO_ROBOTS": ["index", "follow"],
        "SEO_REVISIT": "1 days"
    }
}
