{
    "PROJECT_SETTINGS": {
        "PROJECT_NAME": "Project",
        "WEBSITE_TITLE": "Project",
        "PROJECT_URL": "https://domain.com",
        "PROJECT_FAVICON": "/static/img/favicon.png",
        "PROJECT_AUTHOR": "Author",
        "PROJECT_VERSION": "1.0.0"
    },
    "ROUTER_SETTINGS": {
        "ROUTER_BASE_URI": "/"
    },
    "DATABASE_SETTINGS": {
        "DB_HOST": "database",
        "DB_USER": "framework-app",
        "DB_PASS": "framework-app",
        "DB_NAME": "framework-app",
        "DB_USE": true
    },
    "MAIL_SETTINGS": {
        "MAIL_DEFAULT_SENDER_EMAIL": "mail@framework",
        "MAIL_DEFAULT_SENDER_NAME": "Framework",
        "MAIL_DEFAULT_REPLY_TO": "mail@framework",
        "MAIL_DEFAULT_SUBJECT": "Subject",
        "MAIL_REDIRECT_ALL_MAILS": false,
        "MAIL_REDIRECT_ALL_MAILS_TO": "mail@framework"
    },
    "SEO_SETTINGS": {
        "SEO_DEFAULT_DESCRIPTION": "Description",
        "SEO_KEYWORDS": [],
        "SEO_IMAGE_PREVIEW": "/static/img/seo/preview.png",
        "SEO_OPENGRAPH": {
            "OPENGRAPH_SITE_NAME": null
        },
        "SEO_TWITTER": {
            "TWITTER_SITE": null,
            "TWITTER_CREATOR": null
        },
        "SEO_ROBOTS": ["index", "follow"],
        "SEO_REVISIT": "1 days"
    }
}
